<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

   <servlet>
      <servlet-name>create</servlet-name>
      <servlet-class>controllers.CreateController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>create</servlet-name>
      <url-pattern>/create</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>register</servlet-name>
      <servlet-class>controllers.RegisterController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>register</servlet-name>
      <url-pattern>/register</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>show</servlet-name>
      <servlet-class>controllers.ShowController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>show</servlet-name>
      <url-pattern>/show</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>nextround</servlet-name>
      <servlet-class>controllers.NextRoundController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>nextround</servlet-name>
      <url-pattern>/nextround</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>drop</servlet-name>
      <servlet-class>controllers.DropController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>drop</servlet-name>
      <url-pattern>/drop</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>new</servlet-name>
      <servlet-class>controllers.NewTournController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>new</servlet-name>
      <url-pattern>/new</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>index</servlet-name>
      <servlet-class>controllers.IndexController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>index</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>save</servlet-name>
      <servlet-class>controllers.SaveController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>save</servlet-name>
      <url-pattern>/save</url-pattern>
   </servlet-mapping>

   <welcome-file-list>
      <welcome-file>pages/index.jsp</welcome-file>
   </welcome-file-list>

   <icon>
      <small-icon>/images/favicon.ico</small-icon>
      <large-icon>/images/favicon.ico</large-icon>
   </icon>

</web-app>
